



@media only screen and (max-width:400px)  and (max-height:951px)
{
/* 384 729*/


*
{
  margin:0px;
  padding:0px;
}

body
{
  background-color:black;
}

.description
{
  color:white;
  width:37vw;
  height:15vh;
  margin-top:5vh;
  margin-right:1vw;
  /*border:1px solid white;*/
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

.description p
{
  font-size:20px;
}

.main
{
  display:flex;
  width:348px;
  height:728px;
  margin-left:9vw;
  border:1px solid white;
  flex-direction:column;
  align-items:center;
  gap:5vh;
}

.butt
{
  background-color:red;
  width:150px;
  height:10vh;
  box-sizing:border-box;
  border-radius:0.8vw;
  margin-top:-12vh;
}

.butt p
{
  color:white;
  font-size:20px;
  text-align:center;
  margin-top:0%;
  font-family:'Sans-serif','Helvetica';
  font-weight:600;
}

.Options
{
  color:white;
  display:flex;
  gap:2vw;
  font-size:100%;
  margin-left:-1vw;
  margin-top:-2vh;
}


.bigp
{
  color:white;
  text-align:center;
  width:540px;
  height:140px;
  /*border:1px solid white;*/
  margin-top:16px;
}


.bigp p
{
  font-size:20px
}

.home
{
  margin-top:11vh;
}


        
          
            
        
        
        
        
}








































  @media screen and (min-width:1100px) and (min-height:960px)
    
{
     

*
{
  margin:0px;
  padding:0px;
}

body
{
  background-color:black;
}

.description
{
  color:white;
  font-size:2vh;
  box-sizing:border-box;
  width:40vw;
  height:28vh;
  margin-top:3vh;
  margin-left:24vw;
  /*
  border:1px solid white; */
}

.description h1
{
  margin:0;
}

.main
{
  display:flex;
  width:50vw;
  height:150vh;
  margin-left:25vw;
  /*border:1px solid white; */
  flex-direction:column;
  align-items:center;
  gap:10vh;
}

.butt
{
  background-color:red;
  width:20vh;
  height:6vh;
  box-sizing:border-box;
  border-radius:0.8vw;
}

.butt p
{
  color:white;
  font-size:25px;
  text-align:center;
  margin-top:3%;
  font-family:'Sans-serif','Helvetica';
  font-weight:600;
}

.Options
{
  color:white;
  display:flex;
  gap:2vw;
  font-size:180%;
  margin-left:-1vw;
  margin-top:-2vh;
}

.bigp
{
  color:white;
  text-align:center;
  font-size:30px;
  font-weight:600;
  margin-top:-21vh;
  /*border:1px solid white; 
  border:1px solid white; */
}

}


































