@media screen and (min-width:1800px) and (min-height:959px)
    
{
     

*
{
  margin:0px;
  padding:0px;
}

body
{
  background-color:black;
}

.description
{
  color:white;
  font-size:40px;
  box-sizing:border-box;
  width:40vw;
  height:28vh;
  margin-top:3vh;
  margin-left:24vw;
  /*
  border:1px solid white; */
}

.description h1
{
  margin:0;
}

.main
{
  display:flex;
  width:50vw;
  height:150vh;
  margin-left:25vw;
  /*border:1px solid white; */
  flex-direction:column;
  align-items:center;
  gap:10vh;
}

.butt
{
  background-color:red;
  width:20vh;
  height:6vh;
  box-sizing:border-box;
  border-radius:0.8vw;
}

.butt p
{
  color:white;
  font-size:25px;
  text-align:center;
  margin-top:3%;
  font-family:'Sans-serif','Helvetica';
  font-weight:600;
}

.Options
{
  color:white;
  display:flex;
  gap:2vw;
  font-size:180%;
  margin-left:-1vw;
  margin-top:-2vh;
}

.bigp
{
  color:white;
  text-align:center;
  font-size:30px;
  font-weight:600;
  margin-top:-21vh;
  /*border:1px solid white; 
  border:1px solid white; */
}


      .home
      {
          height:100px;
          width:300px;
          margin-left:3vw;
      }

}
  



















@media only screen and (max-width:1200px)  and (max-height:951px)
{
/* 384 729*/
*
{
  margin:0px;
  padding:0px;
}

body
{
  background-color:black;
}

.description
{
  color:white;
  width:40vw;
  height:12vh;
  margin-top:2vh;
  margin-right:0vw;
  margin-left:0vw;
  */border:1px solid white;*/
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

.description p
{
  font-size:20px;
}

.main
{
  display:flex;
  width:384px;
  height:729px;
  margin-left:31vw;
  border:1px solid white;
  flex-direction:column;
  align-items:center;
  gap:5vh;
}

.butt
{
  background-color:red;
  width:150px;
  height:6vh;
  box-sizing:border-box;
  border-radius:0.8vw;
  margin-bottom:-3vh;
}

.butt p
{
  color:white;
  font-size:15px;
  text-align:center;
  margin-top:0%;
  font-family:'Sans-serif','Helvetica';
  font-weight:600;
}

.Options
{
  color:white;
  display:flex;
  gap:2vw;
  font-size:100%;
  margin-left:-1vw;
  margin-top:-2vh;
}


.bigp
{
  color:white;
  width:240px;
  height:140px;
  /*border:1px solid white;*/
  margin-top:10px;
  margin-left:93px;
}


.bigp p span
{
  display:block;

}



.home
{
  margin-top:6vh;
margin-bottom:3vh;
}
               

}
  





























